* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
#root{
    padding: 20px;
}
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }